#image {
    display: grid;
    height: 95%;
    margin: auto;
    aspect-ratio: 1;
    border-radius: .2rem;
}

#image-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: .5rem;
}

#editor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .05fr .55fr .45fr;
    overflow: auto;
}

.pixel {
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    background-color: rgb(51 65 85);
    width: 15px;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(71 85 105);
    border-radius: 30px;
}
